{% extends 'main/layout.html' %}

{% block title %}{{ title2 }}{% endblock %}

{% block content %}
<body>
<div>
	<div style="margin-left: 5%"><b style="font-size: 25px">Легенда</b><br>
     З- Зачет  <br>
     Э- Экзамен <br>
     К- Курсовая работа <br>
     Р- Распределенный экзамен <br>
     Д- Дифференцированный зачет
</div>
<table class="table1">

	<tbody>
		<tr>
			<th rowspan="2">Дисциплина</th>
			<th colspan="8">Семестр</th>
		</tr>
		<tr>
			<td align="center">1</td>
			<td align="center">2</td>
			<td align="center">3</td>
			<td align="center">4</td>
			<td align="center">5</td>
			<td align="center">6</td>
			<td align="center">7</td>
			<td align="center">8</td>
		</tr>
		<tr>
			<td align="left">Аналитическая геометрия</td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td align="left">Инженерная и компьютерная графика</td>
			<td align="center">Д</td>
			<td align="center">Д</td>
			<td align="center">Д</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Иностранный язык</td>
			<td align="center">З</td>
			<td align="center">З</td>
			<td align="center">З</td>
			<td align="center">З</td>
			<td align="center">З</td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Информатика </td>
			<td align="center">Э</td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">История</td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Математический анализ</td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Начертательная геометрия </td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Физическая культура и спорт </td>
			<td align="center">З</td>
			<td align="center">З</td>
			<td align="center">З</td>
			<td align="center">З</td>
			<td align="center">З</td>
			<td align="center">З</td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Химия</td>
			<td align="center">Р</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Интегралы и дифференциальные уравнения</td>
			<td></td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Линейная алгебра и функции нескольких переменных</td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Теоретическая механика</td>
			<td></td>
			<td align="center">Э</td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Физика</td>
			<td></td>
			<td align="center">Э</td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Культурология</td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Русский язык и культура речи </td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Политология </td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Сопротивление материалов </td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Теория вероятностей и математическая статистика</td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Кратные интегралы и ряды</td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Основы автоматизированного проектирования</td>
			<td></td>
			<td></td>
			<td align="center">Р</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Материаловедение</td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Теория механизмов и машин</td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">Э</td>
			<td align="center">К</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Технология конструкционных материалов</td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Физико-химические основы электронных технологий</td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td align="center">Р</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Метрология, стандартизация и взаимозаменяемость</td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Физические основы электронных приборов </td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Детали машин</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">Э</td>
			<td align="center">К</td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Механика жидкости и газа </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Процессы и оборудование микротехнологии </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">Р</td>
			<td align="center">Р</td>
			<td align="center">К</td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Физика вакуума</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Правоведение</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Вакуумные системы технологического оборудования</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Термовакуумные процессы и оборудование</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td align="center">Р</td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Философия</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Экология</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Электротехника и электроника</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">Э</td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Техника эксперимента в электронике и наноэлектронике</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">Р</td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Термовакуумные процессы и оборудование</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Безопасность жизнедеятельности </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Проектирование технологического оборудования </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">Р</td>
			<td align="center">Р</td>
		</tr>
	<tr>
			<td align="left">Системы автоматического управления</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">Р</td>
			<td align="center">Р</td>
		</tr>
	<tr>
			<td align="left">Экономика</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td align="center">З</td>
		</tr>
	<tr>
			<td align="left">Технология электронного машиностроения</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
			<td></td>
		</tr>
	<tr>
			<td align="left">Технологические комплексы электроники</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">Р</td>
		</tr>
	<tr>
			<td align="left">Информационное обеспечение разработок</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
		</tr>
	<tr>
			<td align="left">Термодинамика наносистем</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td align="center">З</td>
		</tr>

	</tbody>

</table>
</div>
</body>

{% endblock %}