{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}



{% block content %}
<body style="
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
">
    <div class="glwrapper">
        <div class="padwrap">
          <h1>МТ 11<br></h1>
          <h2>  Кафедра «Электронные технологии в машиностроении», основанная в 1974 году, является одной из ведущих в России
            по подготовке специалистов в области высоких микро- и нанотехнологий. Кафедрой подготовлено
            более 1500 специалистов, в том числе 10 докторов и около 50 кандидатов технических наук.
            Среди выпускников 16 лауреатов Государственных премий. Магистерские программы: «Оборудование
            и технологии электроники и наноэлектроники», «Инженерные нанотехнологии в машиностроении».<br><br></h2>
        </div>
      </div>
      <div class="cardsinvec">
        <h1>ПРОГРАММЫ<br>ПОДГОТОВКИ:</h1>
        <div class = "vectors">
          <div class="vectorswrap">
            <div class="informBlock">
              <i class="fa-solid fa-microchip"></i>
              <h5 class="mainText"> 11.03.04<br>Электроника и наноэлектроника</h5>
              <div class="underlineBlock"></div>
              <p class="secondText" style="text-align: center; font-size: 50px;margin-bottom: 0px">226</p>
              <p class="secondText" style="text-align: center; font-size: 20px; ">Проходной балл прошлого года</p>
            </div>
            <div class="informBlock">
              <i class="fa-solid fa-atom"></i>
              <h5 class="mainText">11.03.03<br>Наноинженерия<br><br></h5>
              <div class="underlineBlock"></div>
              <p class="secondText" style="text-align: center; font-size: 50px;margin-bottom: 0px">246</p>
              <p class="secondText" style="text-align: center; font-size: 20px; ">Проходной балл прошлого года</p>
            </div>

            <div class="informBlock">
              <i class="fa-solid fa-question"></i>
              <h5 class="mainText">Магистратура<br>аспирантура<br><br></h5>
              <div class="underlineBlock"></div>
              <p class="secondText" style="text-align: center; font-size: 50px;margin-bottom: 0px">?</p>
              <p class="secondText" style="text-align: center; font-size: 20px; ">Неизвестно...</p>
            </div>
        </div>
      </div>
    </div>
  <div class="infoblock">
    <h1> Как найти?</h1>
    <div class="infobanner">
      <div class="textblock">
        <h2 style="color:white">Наш адрес:  г.Москва, ул. Бауманская д.2 стр.7 (корпус МТ)</h2>
        <h2 style="color:white">Телефон: +7-(999)-745-66-79</h2>
        <h2 style="color:white">Зав. лабораторией: Васильев Д.Д., телефон (499) 267-17-55</h2>
        <h2 style="color:white">Зав. кафедрой: Панфилов Ю.В. , телефон (499) 267-02-13/<h2>
        <h2 style="color:white">Адрес электронной почты: panfilov@bmstu.ru</h2>
        <h2 style="color:white; text-align: center; margin-top: 45px;"> Наши соц. сети:
        </h2>
        <div style="margin-bottom: 100px;">
          <ul class="social-icons-7">
            <li><a href="https://vk.com/bmstu_mt"><i class="fa fa-vk"></i></a></li>
            <li><a href="https://ok.ru/"><i class="fa fa-odnoklassniki"></i></a></li>
            <li><a href="https://bmstu.ru"><i class="fa fa-telegram"></i></a></li>
            <li><a href="https://yandex.ru"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <img src="static/main/img/map.jpg" alt="Здесь должно быть фото map2">
    </div>
    <div style="justify-content: space-around; display: flex;">
      <h2>Designed by MT-11 Team</h2>
      <h2>   BMSTU 2023, all rights reserved</h2>
    </div>
    </div>
  </div>
</body>
{% endblock %}
